In [29]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd

In [2]:
boston = load_boston()

In [3]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [4]:
boston.feature_names.shape

(13,)

In [5]:
x = pd.DataFrame(boston.data, columns=boston.feature_names)
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [6]:
x = x[['AGE']]

In [7]:
x

      AGE
0    65.2
1    78.9
2    61.1
3    45.8
4    54.2
..    ...
501  69.1
502  76.7
503  91.0
504  89.3
505  80.8

[506 rows x 1 columns]

In [14]:
y = pd.DataFrame(boston.target, columns=['MEDV'])
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=22)

In [19]:
print(x_train.shape)
print(x_test.shape)

(404, 1)
(102, 1)

In [21]:
model = LinearRegression()

In [22]:
model.fit(x_train, y_train)

LinearRegression()

In [25]:
model.coef_ #theta1의 값

array([[-0.13356538]])

In [26]:
model.intercept_ #theta2 의 값

array([31.68820052])

In [27]:
y_test_prediction = model.predict(x_test)

In [28]:
y_test_prediction

array([[19.53375114],
       [21.75093641],
       [25.99831543],
       [21.31017067],
       [19.07962886],
       [20.41528263],
       [24.47567012],
       [23.727704  ],
       [25.85139351],
       [18.67893272],
       [22.97973789],
       [21.68415372],
       [18.86592425],
       [18.54536735],
       [18.83921118],
       [26.63942924],
       [19.15976808],
       [18.33166274],
       [23.52735594],
       [30.86009518],
       [19.42689884],
       [19.06627232],
       [19.34675961],
       [22.2050587 ],
       [20.56220455],
       [22.51225907],
       [29.57786755],
       [30.64639058],
       [18.45187158],
       [24.70273126],
       [20.38856956],
       [18.73235887],
       [29.59122409],
       [18.33166274],
       [19.44025538],
       [19.06627232],
       [18.33166274],
       [21.02968337],
       [25.05000125],
       [25.57090622],
       [24.70273126],
       [20.5087784 ],
       [20.6156307 ],
       [18.33166274],
       [24.58252242],
       [23.47392979],
       [19.93444727],
       [18.47858466],
       [18.33166274],
       [18.61215003],
       [18.55872388],
       [29.51108486],
       [21.47044912],
       [18.83921118],
       [18.33166274],
       [19.45361191],
       [28.56277068],
       [27.38739536],
       [20.57556109],
       [27.78809149],
       [25.57090622],
       [22.57904176],
       [23.43386017],
       [23.07323365],
       [29.39087602],
       [18.86592425],
       [19.05291578],
       [18.33166274],
       [19.14641155],
       [29.35080641],
       [23.71434747],
       [26.59935963],
       [19.46696845],
       [28.82990144],
       [19.74745575],
       [24.63594857],
       [25.75789775],
       [20.28171726],
       [30.80666903],
       [23.71434747],
       [23.26022518],
       [27.24047344],
       [23.79448669],
       [28.91004066],
       [20.78926569],
       [22.95302481],
       [20.45535225],
       [26.54593348],
       [22.16498908],
       [19.27997692],
       [27.53431727],
       [19.49368153],
       [18.57208042],
       [19.4135423 ],
       [21.47044912],
       [25.25034931],
       [22.49890253],
       [18.99948963],
       [19.18648116],
       [19.76081228],
       [18.49194119],
       [18.7056458 ]])

In [30]:
mean_squared_error(y_test, y_test_prediction) ** 0.5 #평균제곱근 오차

9.272882337216075